@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind preflight css */
@import './preflight.css';

/* custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: gray;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0f0f0;
  border: 0px;
}
